<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>
<body>
  <div id="app">
    <input type="number" v-model="a">
    +
    <input type="number" v-model="b">
    =
    <input type="number" v-model="c">
    <!-- <span>{{c}}</span> -->
    <br>
    {{a}} + {{b}} = {{c}}
  </div>
  <script>
    new Vue({
      el: '#app',
      data:{
        a:0,
        b:0,
      },
      // 計算屬性
      // 一定要回傳值
      computed:{
        // c(){
        //   return parseInt(this.a , 10) + parseInt(this.b, 10);
        // }
        // 物件模式：可以定義get or set （可單獨）
        c:{
          get(){
            return parseInt(this.a , 10) + parseInt(this.b, 10);
          },
          set(val){
            this.b = parseInt(val, 10) - parseInt(this.a , 10);
          }
        }
      }
    })
  </script>
</body>
</html>